.customNotificationActive {
  background-color: #f8f8f8;
  .media-heading{
    color:#7367f0
  }
  .notification-text{
      color: #7367f0;
  }
  .media-meta{
    color: #7367f0;
  }
}
.customNotification{
  background-color: none;
  .media-heading-checked{
    color: #626262;
  }
  .notification-text-checked{
    color: #626262;
  }
  .media-meta-checked{
    color: #626262;
  }
}