.LinkJoinClass:hover{
    color: #20c997;
    cursor: pointer;
    background-color: white  !important;
    animation: movetext 0.3s forwards 
}
@keyframes movetext{
    90%{
        margin-left: 10px;
    }
    100%{
        margin-left: 8px;
    }
}